.item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.card {
  font-size: larger;
  margin: auto;
  background-color: #33383b;
  color: white;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
